/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header{
    width: 100vw;
    height: 60px;
    background-color: #F8F9FA;
}

.logo-mobile {
    width: 50px;
}

.bg-header {
    background-color: #F8F9FA;
}

/* Sidebar - Main */
.bg-main{
    background-color: #E7E8E8;
}

.bg-aside{
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

.main{
    height: calc(100vh - 60px);
}

/* Main */
.offcanvas-width{
    width: 800px !important;
}

.img-avatar{
    width: 30px;
}

.button-size{
    width: 25px;
    height: 25px;
    position: relative;
}

.font-size{
    font-size: 13px;
    position: absolute;
    top: 25%;
    left: 25%;
}

/* Hover */
